/* Write your CSS here */
.list-container {
  list-style-type: none;
}
.tab-button-style {
  border-left: none;
  border-right: none;
  border-top: none;
  height: 40px;
  width: 80px;
  padding-right: 10px;
  border-width: 1px;
  border-color: #7b8794;
  font-family: 'Bree Serif';
  font-size: 18px;
  font-weight: 500;
  color: #7b8794;
  background-color: transparent;
}
.change-button-style {
  color: #2563eb;
  border-color: #2563eb;
  border-width: 3px;
}
@media screen and (min-width: 768px) {
  .tab-button-style {
    font-size: 20px;
    width: 110px;
  }
}
